@font-face {
    font-family: "Crosshatcher D";
    src: url("./Crosshatcher\ D.otf");
  }
  
  #lego{
      font-family: "Crosshatcher D";
      color:#f5f4f3;
      font-size: 100px;
      align-items:first center;
      margin-left: 120px;
      margin-top: 10px;
      font-weight: 550;
    }
    body{
      background-color: rgb(68, 45, 36);
    }
    #smol{
      background-color: rgb(68, 45, 36);
      position: relative;
      margin-left: 300px;
      margin-right: 300px;
      border-radius: 30px;
      padding-left: 180px;
    }
    #box{
  
      margin-top: 40px;
      margin-left: 500px;
      height: 330px;
      width: 500px;
      background-color: rgb(68, 45, 36);
      border-radius: 10px;
      position: fixed;
      transition: opacity 0.7s;
    }
    input{
      padding: 6px;
      margin-left: 70px;
      border-radius: 10px;
      border-color: aliceblue;
      line-height: 20px;
      background: transparent;
      width: 70%;
      outline: none;
      transition: 0.3s ease;
      color: beige;
      margin-top: 20px;
      text-align: center;
    }
    input:hover{
      transform: scale(1.2);
    }
    #button{
      margin-left: 220px;
      margin-top: 30px;
      padding:7px;
      padding-left: 10px;
      padding-right: 10px;
      background: white;
      border-radius: 10px;
    }
    #input{
      margin-top: 110px;
    }
    .dd{
      font-size: 40px;
      margin-left: 200px;
      position: absolute;
      margin-top: -50px;
    }
    #button:hover{
      background-color: rgba(192, 138, 31, 0.826);
      transition: 0.3s ease-in-out;
      transform: scale(1.3);
    }
    .typing-demo {
      color: rgb(233, 231, 115);
      width: 23ch;
      animation: typing 2s steps(22), blink .5s step-end infinite alternate;
      white-space: nowrap;
      overflow: hidden;
      border-right: 3px solid;
      font-family: monospace;
      font-size: 2em;
      padding: 10px;
      position: fixed;
      margin-top: -100px;
      margin-left: 80px;
    }
    
    @keyframes typing {
      from {
        width: 0
      }
    }
        
    @keyframes blink {
      50% {
        border-color: transparent
      }
    }
  